/* =======================================================
   Text Styling
======================================================= */

$body-text-color: #000000;
$heading-color: #000000;

/* =======================================================
   Sidebar Styling
======================================================= */

$sidebar-color: #1167E6;          // Sidebar background
$nav-link-color: #ffffff;         // Sidebar links
$nav-child-link-color: #ffffff;   // Nested links
$nav-link-color-hover: #ffffff;   // Hover color
$nav-width: 280px; //Navigation width

/* Active navigation item */
$nav-active-link-color: #c0c7db;
$nav-active-link-background-color: #1167E6;

/* =======================================================
   Code Styling
======================================================= */

$code-background-color: #e6f4ff;
$code-text-color: #1167E6;

/* Optional visual polish */
code {
  border-radius: 4px;
}